<div data-controller="accordion" class="faq p-4 bg-light-dark-white dark:bg-dark-light-white border dark:border-dark-light-white rounded-t-lg rounded-b-lg shadow-md cursor-pointer">
	<div class="flex justify-between items-center text-xl font-semibold md:text-2xl dark:text-dark-white">
		<p>{{ question }}</p>
		<span class="mdi mdi-chevron-down"></span>
	</div>
	<div class="content hidden">
		<hr class="h-px -mx-4 my-6 bg-light-darker-white border-0">
		<div>
			<p class="dark:text-dark-white">
				{{ answer }}
			</p>
		</div>
	</div>
</div>