<div data-controller="accordion" class="faq p-4 bg-bdark-white border rounded-t-lg rounded-b-lg shadow-md cursor-pointer">
	<div class="flex justify-between items-center text-xl font-semibold md:text-2xl">
		<p>{{ question }}</p>
		<span class="mdi mdi-chevron-down"></span>
	</div>
	<div class="content hidden">
		<hr class="h-px -mx-4 my-6 bg-bdarker-white border-0">
		<div>
			<p>
				{{ answer }}
			</p>
		</div>
	</div>
</div>