<div class="fixed bottom-10 left-[calc(50%-200px)] w-[400px] h-40">
	{% for message in app.flashes("error") %}
		<div class="w-full min-h-10 p-3 flex gap-3 justify-between items-center border-l-4 border-red-600 bg-white rounded shadow-md">
			<div class="flex gap-3 items-center">
					<span class="mdi mdi-alert-circle-outline text-2xl text-red-600"></span>
				<div>
					<span class="text-xl font-semibold">Erreur</span>
					<p class="text-sm opacity-50">{{ message }}</p>
				</div>
			</div>
			<span class="mdi mdi-close-thick text-2xl opacity-50"></span>
		</div>
	{% endfor %}

	{% for message in app.flashes("success") %}
		<div class="w-full min-h-10 p-3 flex gap-3 justify-between items-center border-l-4 border-green-600 bg-white rounded shadow-md">
			<div class="flex gap-3 items-center">
					<span class="mdi mdi-check-circle-outline text-2xl text-green-600"></span>
				<div>
					<span class="text-xl font-semibold">Succès !</span>
					<p class="text-sm opacity-50">{{ message }}</p>
				</div>
			</div>
			<span class="mdi mdi-close-thick text-2xl opacity-50"></span>
		</div>
	{% endfor %}
</div>