<header class="fixed bg-white z-10 h-20 w-[calc(100vw-256px)] ml-64 px-10 py-8 flex items-center">
	<ul id="path" class="flex gap-2 items-center text-bgrey font-semibold">
		{# <li class="text-blighter-grey">Accueil</li> #}
	</ul>
</header>

{% block javascripts %}
    <script src="{{ asset('assets/js/header.js') }}"></script>
{% endblock %}