<header class="fixed bg-white z-10 h-20 w-[calc(100vw-256px)] ml-64 px-10 py-8 flex items-center">
	<ul data-controller="header" id="header" class="flex gap-2 items-center text-bgrey font-semibold">
		<li class="path text-blighter-grey">
			<a href="{{ path('app_organizations') }}">Mes organisations</a>
		</li>
	</ul>
</header>