<header class="w-full h-20 px-9 py-2.5 bg-light-darker-green dark:bg-dark-darker-green">
	<div class="container h-full m-auto flex items-center justify-between">
		<a href="/" class="h-full">
			<img src="{{ asset('assets/images/billy.png') }}" alt="logo" class="h-full rounded-lg">
		</a>
		<div class="flex gap-6 items-center">
			{% if app.user %}
				<a href="{{ path('app_logout') }}" class="text-white dark:text-dark-white font-semibold hover:underline transition-all duration-300">Déconnexion</a>
				<twig:Button value="Dashboard" :href="path('app_organizations')"></twig:Button>
			{% else %}
				<a href="{{ path('app_login') }}" class="text-white dark:text-dark-white font-semibold hover:underline transition-all duration-300">Connexion</a>
				<twig:Button value="S'inscrire" :href="path('app_register')"></twig:Button>
			{% endif %}
			<twig:ThemeToggle></twig:ThemeToggle>
		</div>
	</div>
</header>