<button data-controller="themeToggle" class="w-12 p-2 text-lg border {{ dark ? 'text-light-lighter-gray dark:text-dark-light-gray border-light-lighter-gray dark:border-dark-light-gray' : 'text-white border-white' }} rounded-md">
	<span class="mdi mdi-weather-night"></span>
</button>
