<div class="w-80 h-60 px-16 py-14 flex flex-col gap-6 bg-white">
	<img src="{{ asset('assets/images/advantages/' ~ image) }}" alt="avantage" class="w-12 aspect-square">
	<div>
		<h3 class="mb-2.5 text-2xl font-semibold">{{ title }}</h3>
		<p class="opacity-50 font-semibold">{{ description }}</p>
	</div>
</div>