{% extends 'base.html.twig' %}

{% block title %}Billy - services{% endblock %}

{% block body %}

{% include 'components/header.html.twig' %}

{% include 'components/sidebar.html.twig' %}


{% for service in services %}
	<div>
		{{ service.name }} {{ service.description }} {{service.id}}
	</div>
{% endfor %}

{% endblock %}
