{% extends 'connected.html.twig' %}

{% block title %}Liste des services{% endblock %}

{% block body %}

{% for service in services %}
	<div>
		{{ service.name }} {{ service.description }} {{service.id}}
	</div>
{% endfor %}

{% endblock %}
