{% extends 'base.html.twig' %}

{% block title %}Liste des services{% endblock %}

{% block body %}

{% include 'components/header.html.twig' %}

{% include 'components/sidebar.html.twig' %}

<main class="pt-20 pl-64 min-h-screen bg-bdark-white">
	<div class="px-10 py-5">
		<div class="mb-14 flex justify-between items-center">
			<h1 class="text-3xl font-semibold">Liste des services</h1>
			<a href="{{ path('create_service', { OrganizationId: organization.id } ) }}" class="px-12 py-4 text-white text-lg font-semibold bg-blighter-green rounded-large hover:bg-bgreen ease-in-out duration-300">Ajouter</a>
		</div>
		<div class="w-full border rounded-xl bg-white overflow-hidden">
			<table class="w-full text-left border-collapse">
				<thead>
					<tr class="w-full pr-4 flex text-black/50">
						<th class="w-full p-6">Nom</th>
						<th class="w-full p-6">Description</th>
						<th class="w-full p-6">Actions</th>
					</tr>
				</thead>
				<tbody class="w-full flex flex-col justify-between items-center overflow-y-scroll" style="max-height: 560px;">
					{% for service in services %}
					<tr class="w-full flex border-t">
						<td class="w-full p-6">{{ service.name }}</td>
						<td class="w-full p-6">{{ service.description }}</td>
						<td class="w-full p-6 text-xl">
							<a href="{{ path('update_service', { OrganizationId: organization.id, serviceId: service.id } ) }}"><span class="mdi mdi-pencil text-bgreen"></span></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</main>
{% endblock %}