{% extends 'home.html.twig' %}

{% block title %}Billy{% endblock %}

{% block body %}
	<main>
		<section class="container m-auto mt-8 min-h-[640px] flex flex-col gap-16 justify-between items-center md:mt-0 md:flex-row md:items-stretch">
			<div class="max-w-[800px] flex justify-center items-center">
				<div class="max-w-[700px] mx-8 flex flex-col justify-center gap-9 md:mx-0">
					<h1 class="text-4xl md:text-5xl font-bold">Gérez vous devis et factures en toutes simplicité</h1>
					<p class="opacity-50 font-semibold">
						Automatiser, digitaliser votre gestion financière avec notre plateforme intuitive. 
						Devis et factures, unifiés pour plus d'efficacité. Optez pour la simplicité 
						avec notre solution de gestion tout-en-un.
					</p>
					<div class="flex flex-col gap-6 justify-center items-center md:flex-row">
						{% if app.user %}
							<twig:Button value="Dashboard" :href="path('app_organizations')"></twig:Button>
						{% else %}
							<twig:Button value="S'inscrire" :href="path('app_register')"></twig:Button>
						{% endif %}
						<twig:Button
							value="Contact"
							style="stroke"
							href="mailto:support@billy.com"
							blank="true"
						></twig:Button>
					</div>
				</div>
			</div>
			<div class="max-w-[600px]">
				<img src="{{ asset('assets/images/hero.jpeg') }}" alt="Comptable" class="w-full h-full object-cover">
			</div>
		</section>
		<section class="bg-bdark-white">
			<div class="container m-auto min-h-[480px] p-12 flex flex-col justify-between items-center">
				<h2 class="text-3xl font-semibold text-center md:text-4xl">Pourquoi choisir Billy ?</h2>
				<div class="mt-8 flex flex-wrap justify-center gap-16">
					{% include 'components/advantage.html.twig' with {'image': 'checkbox.png', 'title': 'Avantage 1', 'description': 'Description de l\'avantage.'} %}
					{% include 'components/advantage.html.twig' with {'image': 'checkbox.png', 'title': 'Avantage 2', 'description': 'Description de l\'avantage.'} %}
					{% include 'components/advantage.html.twig' with {'image': 'checkbox.png', 'title': 'Avantage 3', 'description': 'Description de l\'avantage.'} %}
				</div>
			</div>
		</section>
		<section class="p-12">
			<h2 class="text-3xl font-semibold text-center md:text-4xl">Les questions fréquemment posées</h2>
			<div class="max-w-[570px] m-auto mt-8 flex flex-col gap-2.5">
				<twig:Accordion question="Question 1" answer="Réponse 1"></twig:Accordion>
				<twig:Accordion question="Question 2" answer="Réponse 2"></twig:Accordion>
				<twig:Accordion question="Question 3" answer="Réponse 3"></twig:Accordion>
			</div>
		</section>
	</main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/accordion.js') }}"></script>
{% endblock %}
