{% extends 'base.html.twig' %}

{% block title %}Billy - Dashboard{% endblock %}

{% block body %}

{% include 'components/header.html.twig' %}

{% include 'components/sidebar.html.twig' %}

<main class="pt-20 pl-64 min-h-screen bg-bdark-white">
	<div class="px-10 py-5">
		<h1 class="text-3xl font-semibold">Ma société</h1>
	</div>
</main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/accordion.js') }}"></script>
{% endblock %}
