{% extends 'connected.html.twig' %}

{% block title %}Gestion des rôles{% endblock %}

{% block body %}
<div class="px-10 py-5">
	<h1 class="text-3xl font-semibold">Select un role</h1>
	
	{{ form_start(form) }}

	{{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/accordion.js') }}"></script>
{% endblock %}
