{% extends 'connected.html.twig' %}

{% block title %}Donner un rôle{% endblock %}
{% block body %}
<div class="px-10 py-5">
	<h1 class="text-3xl font-semibold pb-6">Donner un rôle</h1>
	<div class="p-14 rounded-xl bg-white max-w-lg">
		{{ form_start(form) }}
		{{ form_end(form) }}
	</div>
</div>
{% endblock %}
