{% extends 'connected.html.twig' %}

{% block title %}Mes factures{% endblock %}

{% block body %}
	<div class="mb-14 flex justify-between items-center">
		<h1 class="text-2xl font-semibold">
			Factures du devis 
			<a href="{{ path('app_update_devis', {organization: organization.id, devis: devis.id}) }}" class="underline">{{devis.name}}</a>
		</h1>
		{% if canCreate == true %}
		<a href="{{ path('app_create_facture', {organization: organization.id, devis: devis.id}) }}" class="px-12 py-4 text-white text-lg font-semibold bg-blighter-green rounded-large hover:bg-bgreen ease-in-out duration-300">Ajouter</a>
		{% endif %}
	</div>
	<twig:Table
		:data="bills"
		:cols="{
			chrono: 'N° Facture',
			'devis.name': 'Nom du devis',
			'organization.name': 'Nom de l\'organisation',
			'client.name': 'Nom du client',
			createdAt: 'Date de création',
			'devis.status': 'Statut du devis',
			statut: 'Statut paiement'
		}"
		:action="true"
	>

		{% block devis_status %}
			{% if currentValue.value == 'editing' %}
				<span class="px-4 py-2 bg-yellow-500 font-semibold text-white uppercase rounded-full mdi mdi-pencil"> Édition</span>
			{% elseif currentValue.value == 'lock' %}
				<span class="px-4 py-2 bg-red-500 font-semibold text-white uppercase rounded-full mdi mdi-lock"> Verrouillé</span>
			{% elseif currentValue.value == 'sign' %}
				<span class="px-4 py-2 bg-green-500 font-semibold text-white uppercase rounded-full mdi mdi-fountain-pen-tip"> Signé</span>
			{% endif %}
		{% endblock %}

		{% block statut %}
			{% if row.statut.value == 'payé' %}
				<span class="px-4 py-2 bg-green-500 font-semibold text-white uppercase rounded-full mdi mdi-check-circle"> Payé</span>
			{% elseif row.statut.value == 'canceled' %}
				<span class="px-4 py-2 bg-red-500 font-semibold text-white uppercase rounded-full mdi mdi-cancel"> Annulé</span>
			{% elseif row.statut.value == 'waiting' %}
				<span class="px-4 py-2 bg-orange-500 font-semibold text-white uppercase rounded-full mdi mdi-clock-alert-outline"> En attente</span>
			{% endif %}
		{% endblock %}
		{% if row.devis.status.value == 'sign' or row.devis.status.value == 'completed' %}
			<a 
				class="mdi mdi-eye text-xl text-gray-500"
				href="{{ path('app_facture_get_id', { organization: organization.id, devis: devis.id, facture: row.id }) }}"
			></a>
		{% endif %}
	</twig:Table>
{% endblock %}