{% extends 'base.html.twig' %}

{% block title %}Aperçu de la facture{% endblock %}

{% block layout %}
	<div class="w-full h-[100vh]">
		{% include '/generate_pdf/facture-pdf.html.twig' with { facture: facture, totalHt: totalHt, logoPath: logoPath } %}
	</div>
	<div class="fixed bottom-2 left-1/2 -translate-x-1/2 flex gap-2">
		<a href="{{ path('app_facture_download', { organization: facture.organization.id, devis: devis.id, facture: facture.id }) }}"
			class="px-6 py-2 text-white bg-light-lighter-green border-light-lighter-green hover:bg-light-green hover:border-light-green font-semibold rounded-large border-solid border-2 transition-all duration-300"
		>
		Télécharger
		</a>
	</div>
{% endblock %}