{% extends 'connected.html.twig' %}

{% block title %}Billy - Dashboard{% endblock %}

{% block body %}
	<div class="mb-14 flex justify-between items-center">
		<h1 class="text-2xl font-semibold">Mes devis</h1>
		{% if canCreate == true %}
			<twig:Button value="Ajouter" :href="path('app_create_devis', { organization: organization.id })"></twig:Button>
		{% endif %}
	</div>
	<twig:Table
		:data="quotations"
		:cols="{
			id: 'N° de devis',
			name: 'Nom du devis',
			'client.name': 'Nom du client',
			status: 'Status'
		}"
		:action="true"
	>
		
		{% block status %}
			{% if currentValue.value == 'editing' %}
				<span class="px-4 py-2 bg-yellow-500 font-semibold text-white uppercase rounded-full mdi mdi-pencil"> Édition</span>
			{% elseif currentValue.value == 'lock' %}
				<span class="px-4 py-2 bg-red-500 font-semibold text-white uppercase rounded-full mdi mdi-lock"> Verrouillé</span>
			{% elseif currentValue.value == 'sign' %}
				<span class="px-4 py-2 bg-green-500 font-semibold text-white uppercase rounded-full mdi mdi-fountain-pen-tip"> Signé</span>
			{% endif %}
		{% endblock %}

		{% block client_name %}
			{% if currentValue == 'null' %}
				Client indéfini
			{% else %}
				{{ currentValue }}
			{% endif %}
		{% endblock %}
	
		{% if row.status.value == 'editing' %}
			<a 
				class="mdi mdi-pencil text-xl text-gray-500"
				href="{{ path('app_update_devis', { organization: organization.id, devis: row.id }) }}"
			></a>
		{% else %}
			<a 
				class="mdi mdi-eye text-xl text-gray-500"
				href="{{ path('app_update_devis', { organization: organization.id, devis: row.id }) }}"
			></a>
			{% if row.status.value == 'sign' %}
				<a 
					class="mdi mdi-note-text text-xl text-gray-500"
					{# href="{{ path('app_update_devis', { organization: organization.id, devis: row.id }) }}" #}
				></a>
			{% endif %}
		{% endif %}
	</twig:Table>
{% endblock %}