{% extends 'connected.html.twig' %}

{% block title %}List des clients{% endblock %}

{% block body %}
	<div class="mb-14 flex justify-between items-center">
		<form id="archivedForm" action="" method="GET">
			<h1 class="text-2xl font-semibold pb-4">Mes Clients</h1>
			<twig:Toggle 
			title="Archivé" 
			:isChecked="isArchived"
			name="archived"
			onClick="
				setTimeout(() => {
					document.getElementById('archivedForm').requestSubmit()
				})
			">
			</twig:Toggle>
		</form>
		<twig:Button
			value="Ajouter"
			:href="path('app_client_create', { 'organization': getCurrentOrganization().id })"
		></twig:Button>
	</div>
	{% if clients is not empty %}
		<twig:Table
			:data="clients"
			:cols="{
				name: 'Nom',
				firstname: 'Prénom',
				email: 'Email',
				phone: 'Téléphone',
				siret: 'Siret',
				activity: 'Activité'
			}"
			:action="true"
		>
			<a href="{{ path('app_client_update', { 'organization': getCurrentOrganization().id, client: row.id }) }}">
				<span class="mdi mdi-pencil text-base text-bgrey"></span>
			</a>
			{% if  row.isArchived == false %}
			<a href="{{ path('app_client_archive', { organization: getCurrentOrganization().id, client: row.id }) }}">
				<span class="mdi mdi-archive-outline text-xl text-gray-500"></span>
			</a>
			{% else %}
			<a href="{{ path('app_client_archive', { organization: getCurrentOrganization().id, client: row.id }) }}">
				<span class="mdi mdi-archive-off-outline text-xl text-gray-500"></span>
			</a>
			{% endif %}
		</twig:Table>
	{% else %}
		<p>Aucun client trouvé.</p>
	{% endif %}
{% endblock %}