{% extends 'connected.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
	<div class="w-full">
		<a href="{{ path('app_client', { organization: getCurrentOrganization().id }) }}">Creer un client</a>
	</div>
	<twig:Table
		:data="clients"
		:cols="{
			name: 'Nom du client',
			email: 'Description',
			activity: ''
		}"
		:action="true"
	>
		{% block name %}
			{{ currentValue }} {{ row.firstname|default('') }}
		{% endblock %}

		<a href="{{ path('app_client_update', { organization: getCurrentOrganization().id, service: row.id }) }}">
			<span class="mdi mdi-pencil text-xl text-gray-500"></span>
		</a>
	</twig:Table>
{% endblock %}