{% extends 'connected.html.twig' %}

{% block title %}Modifier le client{% endblock %}

{% block body %}
    <h1>Modifier le client</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}