<table width="100%" style="background-color:#EFEFEF; border:0; cellspacing:0; cellpadding:0;">
    <tr>
        <td align="center">
            <div style="background-color: #fff; border-radius: 8px; max-width: 450px; width: 100%; margin: 100px 0; padding: 2.5rem; box-sizing: border-box;">
                <div style="text-align: center; padding: 1rem 0; margin-bottom: 2.5rem;">
                    <img width="96px" src="{{ absolute_url(get_logo_org(organization)) }}" alt="logo" style="border-radius: 8px;">
                </div>
                <div style="text-align: center; margin: 2.5rem 0;">
                    <div style="font-weight: 700; font-size: 1.5rem; margin-bottom: 2rem;">Rejoindre l'organisation</div>
                    <p style="font-size: 1rem; line-height: 1.5rem;">{{ organization.name }}</p>
                    <a href="{{ invite }}" style="display: inline-block; padding: 0.5rem 1.5rem; border-radius: 9999px; background-color: #B1C3BB; color: #fff; text-decoration: none; font-size: 1rem; font-weight: 600; margin: 3rem 0; transition: all .3s;">Rejoindre</a>
                    <div style="opacity: .6; font-size: 0.875rem; line-height: 1.25rem; color: #71717A;">
                        <!-- <a href="#" style="color: #87B5A2; text-decoration: none; transition: all .3s;">Lien</a> -->
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>