{% extends 'connected.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
	<div class="mb-14 flex justify-between items-center">
		<h1 class="text-3xl font-semibold">Liste des utilisateurs</h1>
		<a href="{{ path('organization_invite_user', { 'organization': getCurrentOrganization().id }) }}" class="px-12 py-4 text-white text-lg font-semibold bg-blighter-green rounded-large hover:bg-bgreen ease-in-out duration-300">Ajouter</a>
	</div>

	{% if users is not empty %}
		<twig:Table
			:data="users"
			:cols="{
				name: 'Nom',
				firstname: 'Prénom',
				email: 'Email',
			}"
			:action="true"
		>
			<a href="{{ path('app_role_select', { 'organization': getCurrentOrganization().id, 'user': row.id }) }}">
				<span class="mdi mdi-pencil text-base text-bgrey"></span>
			</a>
			<a href="{{ path('organization_leave_user_by', { 'organization': getCurrentOrganization().id, 'user': row.id }) }}">
				<span class="mdi mdi-trash-can-outline text-base text-bgrey"></span>
			</a>
		</twig:Table>
	{% else %}
		<p>Il n'y a pas d'utilisateur dans cette organisation</p>
	{% endif %}
{% endblock %}