{% extends 'connected.html.twig' %}

{% block title %}Mes organisations{% endblock %}

{% block body %}
	<div class="mb-14 flex justify-between items-center">
		<h1 class="text-2xl font-semibold dark:text-dark-white">Mes organisations</h1>
		
		{% if canCreate == true %}
			<twig:Button value="Ajouter" :href="path('app_create_organization')"></twig:Button>
		{% endif %}
	</div>
	<twig:Table
		:data="organizations"
		:cols="{
			name: 'Nom',
			address: 'Adresse',
			email: 'Email',
			phone: 'Téléphone',
			siret: 'Siret',
			activity: 'Activité'
		}"
		:action="true"
	>
		<a href="{{ path('app_organization_get_id', { organization: row.id }) }}">
			<span class="mdi mdi-open-in-new text-xl text-light-gray hover:text-light-green transition-all duration-300"></span>
		</a>

		{% if app.user.id == row.createdBy.id %}
			<span class="absolute left-1 top-1/2 -translate-y-1/2 mdi mdi-crown text-base text-amber-500"></span>
		{% endif %}
	</twig:Table>
{% endblock %}