{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<div {{ vue_component('Hello', { 'name': controller_name }) }}></div>

<div data-controller="hello"></div>
{% endblock %}
