{% extends 'base.html.twig' %}

{% block layout %}
{% include 'components/header.html.twig' %}

{% include 'components/sidebar.html.twig' %}

<main class="pt-20 pl-64 min-h-screen bg-bdark-white">
	<div class="px-10 py-5">
		{% block body %}{% endblock %}
	</div>
</main>
{% endblock %}
